.logo img{
    height: auto;
    max-height: 50vh;
    max-width:30vw;
    transform: scaleX(-1);
    padding-left: 20px;
}

#frontpage_eyecatcher{
    height: 90vh;
}

.frontpage_center{
    flex-grow:1;

}

.frontpage_footer{
    margin: auto;
    width:90%;
}

.frontpage_footer svg{
    margin: auto;
}


/* Shapes */
#greyTriangle {
    z-index: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50vh 35vw 50vh 0;
    /* Old Values : 575px 1400px 575px 0; */
    border-color: transparent #D0D0D0 transparent;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -50px;
}

#redTriangle {
    z-index: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40vw 15vh 0 40vh;
    border-color: #8A0707 transparent transparent;
    position: absolute;
    top: 6%;
    right: calc(4% - 1vw);
}

#blackTriangle {
    z-index: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40vw 15vh 0 40vh;
    border-color: #3E3E3E transparent transparent;
    position: absolute;
    right: calc(3% - 1vw);
    max-width: 10vw;
}
#triangleHider{
    z-index: 0;
    width: 30vw;
    height: 50vh;
    right:0;
    top: 50%;
    position: absolute;
    background-color: white;
}


/** Menu */

.frontpage_menu{
    align-items: center;
}

.frontpage_menu li {
    list-style: none;
    padding-right: 20px;
    position: relative;
    display: inline-flex;
    margin-bottom: 10px;

}

.frontpage-title{
    z-index: 1;
}

.frontpage_menu li a {
    flex: auto;
    padding: 10px 20px 10px 20px;
    border: 2px solid rgba(208, 208, 208, 0.3);
    border-radius: 5px;
    color: rgba(62, 62, 62, 1);
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.frontpage_menu  li a:hover{
    border: rgb(208 208 208) 2px solid;
    box-shadow: 2px 2px 2px 2px #00000008;
    color: #8a0707;
}