.pagination {
  margin: auto;
  text-align: center;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination p a {
  padding: 5px;
  text-decoration: none;

}

.pagination span {
  background-color: #ddd;
  color: black;
  padding: 5px;
  border: 1px solid black;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a {
  transition: background-color .3s;
  border: 1px solid #ddd;
  /* Gray */

}

/** Single pagination */
.pagination_single{
  display: flex;
  margin: 1em;
}

.pagination_single .center  {
margin:auto;
}

.next, .center, .previous{
  border-bottom: solid 1px #8A0707;
}

/** Archive */
.no_symbol ul,
.no_symbol li a,
.no_symbol li a:hover,
.no_symbol li.active a,
.no_symbol li.disabled {
    list-style-type: none;
    text-decoration:none;
}
.archive{
  margin: 1em;
}
.archive li a{
 padding: 1em;
}